## Date

Wed, 4 Jun 2025 10:15:55 +0000

## Address

from: Perplexity <team@mail.perplexity.ai>
to: user@example.com

## Subject

Introducing Perplexity Labs

## Body

Available today for Pro subscribers

­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­
­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­
­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­
­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­
­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­
­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­
­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­

https://perplexity.ai




Create complex projects with Perplexity Labs.

https://www.perplexity.ai/labs


Perplexity Labs is a way to bring your projects to life faster than ever before. Available today for Pro subscribers.


Perplexity Labs can help you complete a variety of work and personal projects. From creating a marketing campaign, to analyzing
your business finances, to meal planning for the week, Labs are where you turn your best ideas into reality.

See examples [https://www.perplexity.ai/labs]


Check out our favorite use cases


Code Generation

Labs writes and executes code to handle tasks like structuring data, applying formulas, and creating charts, text documents, or
spreadsheets.

SEE EXAMPLE > [[www.perplexity.ai](https://www.perplexity.ai/search/recommend-a-momentum-trading-s-SaiYAR5LSKeuUp8ZqlbJKw])


Mini Apps

Labs can develop and deploy simple interactive web apps directly within an “App” tab in your project. Build basic dashboards,
slideshows, and websites without external development tools.

SEE EXAMPLE > [[www.perplexity.ai](https://www.perplexity.ai/search/we-are-a-tech-consulting-firm-6u.qaOKqSbiXyyoJzOsL.Q?0=d])


Asset Generation

All files created during your workflow — documents, spreadsheets, charts, images, code files — are organized in the "Assets" tab
for easy access.

SEE EXAMPLE > [[www.perplexity.ai](https://www.perplexity.ai/search/develop-a-short-sci-fi-film-co-Iuaf8qzlRS2M.EO.W47m4g?0=d])


Travel

Plan your entire trip — from finding you the best hotels and prices to finding the best dinner spots — Labs can recommend your
perfect travel package.

SEE EXAMPLE > [[www.perplexity.ai](https://www.perplexity.ai/search/im-planning-a-business-trip-to-bBcXju4wRRCi_30W2zN4mw])




What else is happening at Perplexity?



https://www.perplexity.ai/properks

Perplexity Pro Perks is a new program that gives Pro subscribers access to premium offers from leading brands like Visa, Function
Health, Headspace, Selfbook, Ōura, Eight Sleep, and more.

Access Pro Perks [https://www.perplexity.ai/properks]




© 2025 Perplexity. 115 Sansome St, Suite 900, San Francisco, CA 94104
Unsubscribe [[app.loops.so](https://app.loops.so/unsubscribe/cmbhsl4fb07tg01ld8ejp63nf/e2385eab16a0c9d48d625c87abd753e51ee3c62aa4ab7ff89539550635426822]) | Privacy Policy [[www.perplexity.ai](https://www.perplexity.ai/hub/legal/privacy-policy]) | Terms and
conditions [[www.perplexity.ai](https://www.perplexity.ai/hub/legal/terms-of-service])


https://x.com/perplexity_ai

https://www.linkedin.com/company/perplexity-ai/

https://www.instagram.com/perplexity.ai/

https://www.youtube.com/@perplexity-ai

https://discord.com/invite/perplexity-ai

[apps.apple.com](https://apps.apple.com/us/app/perplexity-ask-anything/id1668000334)

[play.google.com](https://play.google.com/store/apps/details?id=ai.perplexity.app.android)
